body {
	background-color: black;
	margin:auto;
	background-image: url(../images/kg/fond.jpg);
	background-position: top center;
	background-repeat:no-repeat;
	color:#8a8a8a;
	font-size:12px;
	width:100%;
}
.p {
	margin:0px;
	padding:0px;
	font-size: inherit;
	font-family: inherit;
	font-weight: inherit;
	text-align: inherit;
	color: inherit;
	line-height: inherit;
	vertical-align: top;
}

p {
	padding-top:0px;
	margin-top:0px;
}
img {
	
	border:none;
}
div {
	margin:0px;
	padding:0px;
	font-size:11px;
	font-family: "Verdana", Verdana, Arial, serif;
}
#main {
	width:941px;
	border: 0px solid #f0f0f0;
	margin:auto;
	min-height:900px;
	overflow:hidden;
}
#header  { 
	width:941px;
	height:192px;
	float:left;
	overflow:hidden;

}
#header img {
	
	clear: left;
	display: none; 
	margin-top:15px;
	text-align:center;
	margin:auto;
}
#header .fire
{
display:inline;
background-image: url(../images/kg/fire_top.png);
width:187px;
height:22px;
position:absolute;
margin-top:170px;
background-repeat:no-repeat;
margin-left:670px;
}
#left .fire
{
background-image: url(../images/kg/fire_top.png);
width:187px;
height:22px;
position:absolute;
margin-top:293px;
margin-left:200px;
background-repeat:no-repeat;

}
#menu .fire
{
background-image: url(../images/kg/fire_coverage.png);
width:230px;
height:38px;
display: inline; 
float:left;
position:absolute;
margin-top:37px;
float:left;
z-index:5;
background-repeat:no-repeat;

}
#coverage .fire
{
background-image: url(../images/kg/fire_coverage2.png);
width:190px;
height:30px;
position:absolute;
margin-top:190px;
margin-left:370px;
z-index:5;
background-repeat:no-repeat;

}
.squads .squads_fire {

background-image: url(../images/kg/fire_squads.png);
width:34px;
height:18px;
position:absolute;
margin-left:27px;
margin-top:5px;
}

#login { 
	margin-left:0px;
	margin-top:0px;
	width:941px;
	height:44px;
	margin-bottom:0px;
	float:left;
	display:inline;
	background-image: url(../images/kg/login.png);

	overflow:hidden;
}
#login .username
{
	width:93px;
	height:44px;
	text-align:right;
	padding-top:13px;
	float:left;
}
#login .input
{
	width:128px;
	height:44px;
	float:left;
	padding-top:10px;
	padding-left:8px;
}
#login .password
{
	width:83px;
	height:44px;
	text-align:right;
	padding-top:13px;
	float:left;
}

#login .right
{
	width:73px;
	height:44px;
	padding-top:10px;
	float:left;
	text-align:right;
}
#login .send
{
	display:none;
	background:none;
	border:none;
}
#login .ip
{

	background-image: url(../images/kg/input.png);
	width:120px;
	height:20px;
	color:white;
	border:none;
	padding-left:6px;
	background-repeat:no-repeat;
	font-family: "Arial", Verdana, Tahoma, serif;
	font-size:12px;
	background-color: transparent;
}
#blockSearch {  width:200px; float:right;}
#blockSearch .search
{

	background-image: url(../images/kg/search.png);
	background-repeat: no-repeat;
	float:left;
	width:155px;
	height:21px;
	margin-top:11px;
	float:left;
	background-color: transparent;

	
}
#blockSearch .ok
{

	background-image: url(../images/kg/go.png);
	width:34px;
	height:23px;
	float:left;
	border:none;
	margin-top:11px;
	margin-left:5px;
	background-color: transparent;
	
}
#blockSearch .search input 
{
	background:none;
	border:none;
	background-color: transparent;
	color:#cacaca;
	font-family: "Arial", Verdana, Tahoma, serif;
	font-size:11px;
	padding-left:30px;
	padding-top:4px;
	height:18px;
}
#menu { 
	margin-left:0px;
	margin-top:0px;
	width:941px;
	height:59px;
	margin-bottom:0px;
	float:left;
	display:inline;
	background-image: url(../images/kg/menu.png);
	overflow:hidden;
	word-spacing: 18px;
	text-align:center;
	padding-top:15px;
	background-repeat:no-repeat;
}

#coverage { 
	margin-left:0px;
	margin-top:0px;
	width:562px;
	height:324px;
	margin-bottom:0px;
	float:left;

	background-image: url(../images/kg/coverage.png);
	overflow:hidden;
}
#headlines { 
	margin-left:0px;
	margin-top:0px;
	width:379px;
	height:324px;
	margin-bottom:0px;


	background-image: url(../images/kg/headlines.png);
	overflow:hidden;
}
#headlines .titlex {
margin-left:18px;
height:35px;
margin-top:10px;
}
#headlines .up {
width:379px;
text-align:center;
height:17px;
margin:auto;
}
#headlines .body {
width:379px;
height:221px;

}
#headlines .down{
width:379px;
height:20px;
text-align:center;
margin:auto;
}
#headlines a {
font-size:11px;
font-family: "Tahoma", Verdana, Arial, serif;
}

#headlines .head1{
color:#545454;
font-weight:bold;
font-size:11px;
font-family: "Tahoma", Verdana, Arial, serif;
}
#headlines .head1 {
width:368px;
height:44px;
float:left;
border:1px black;
font-weight:bold;
font-size:11px;
font-family: "Tahoma", Verdana, Arial, serif;
}

#headlines .games {
width:109px;
height:44px;
position:absolute;
z-index:3;
padding-left:258px;
}
#headlines .head1_pos {
padding-top:13px;
z-index:5;
position:relative;
padding-left:50px;
}
#topFull { 
	margin-left:0px;
	margin-top:0px;
	width:941px;
	min-height:100px;
	margin-bottom:0px;
	float:left;
	display:inline;
	background-repeat:repeat-x;
	background-image: url(../images/kg/top.png);
	overflow:hidden;
}
#central { 
	width:941px;
	padding-top:20px;
	margin:auto;
	padding-bottom:30px;
}
#topFullBack { 
	width:941px;
	margin-bottom:0px;
	float:left;
	display:inline;
	background-image: url(../images/kg/bg.jpg);
	overflow:hidden;
}
#top { 
	margin-left:0px;
	margin-top:0px;
	width:941px;
	height:305px;
	margin-bottom:0px;
	float:left;
	display:inline;
	/*background-repeat:repeat-x;*/
	background-image: url(../images/kg/top.png);
	overflow:hidden;
}
#top .videos {
width :606px;
height:246px;
float:left;
margin-left:5px;
margin-top:5px;
}
#top .thread {
width :295px;
height:246px;
float:left;
margin-top:5px;
}
#top .squads{
width :330px;
height:246px;
float:left; 
margin-top:5px;
}
hr {
  color: #666666;
  background-color: #666666;
  border: 0px;
  border-top: transparent;
  border-bottom: transparent;
  margin: 2px 0;
 width:100%;
  height: 1px;
}

.titleBlock {
	background-image: url(../images/kg/title.png);
	width:281px;
	height:27px;
	padding-top:3px;
	margin-left:10px;
}
.viewAll
{	
	position:absolute;
	padding-left:230px;
	padding-top:10px;
}
.titleBlockCenter {
	background-image: url(../images/kg/title.png);
	width:400px;
	height:27px;
	padding-top:3px;
	margin-left:10px;
}
.bgvideo {
	background-image: url(../images/kg/bg_video.png);
	width:300px;
	height:189px;
	margin-top:10px;
}
.bgthread {
	width:272px;
	height:198px;
	background-image: url(../images/kg/thread.png);
	margin-left:10px;
	margin-top:5px;
	background-repeat:no-repeat;
}
#lastTopic  {
	margin-top:8px;
	float:left;
}
#lastTopic .date {
	width:38px;
	height:36px;
	text-align:center;
	padding-left:1px;
}
#lastTopic .month {
	font-size:11px;
	color:#8e8e8e;
	font-family: "Tahoma", Verdana, Arial, serif;
}
#lastTopic .jour{
	font-size:11px;
	color:#66b716;
	font-weight:bold;
	font-family: "Tahoma", Verdana, Arial, serif;
}
#lastTopic .message{
	font-size:11px;
	color:#d5d5d5;
	width:195px;
	padding-left:10px;
	font-family: "Tahoma", Verdana, Arial, serif;
}

#lastTopic .comment {
	color : #b77c19;
	width: 49px;
	font-size:11px;
	font-family: "Tahoma", Verdana, Arial, serif;
	text-align:center;
}
#squads .squads_pic { 
	background-color:red;
	width:330px;
}
.foot_squads {

	background-image: url(../images/kg/squads_bottom.png);
	width:329px;
	height:72px;

}

#preview {
	padding-top:7px;
	padding-left:9px;
}
#left { 
	margin-left:0px;
	margin-top:0px;
	padding-top:23px;
	width:428px;
	height:338px;
	margin-bottom:0px;
	float:left;
	display:inline;
	background-repeat:repeat-x;
	background-image: url(../images/kg/left.png);
	overflow:hidden;
}

#top_topmatch
{
	font-family: "Tahoma", Verdana, Arial, serif;
	font-size:11px;
	color:white;
	font-weight:bold;
	float:left;
	width:428px;
	margin-left:15px;
	margin-top:10px;

}
#top_topmatch .tm_title {
	float:left;
	font-size:11px;
	color:white;
	font-size:11px;
}
#top_topmatch .tm_dg
{
	color: #66b716;
	font-size:11px;
	font-weight:normal;
	float:left;
	width:80px;
	padding-left:3px;

}
#top_topmatch .tm_stat
{
	font-size:11px;
	font-weight:normal;
	float:left;
	width:80px;
	padding-left:3px;
}

#top_topmatch .tm_bg
{
	color: #0083df;
	font-size:11px;
	font-weight:normal;
	float:left;
	width:387px;
	height:20px;
	background-image: url(../images/kg/topmatch_bg.png);
	overflow:hidden;
	background-repeat:no-repeat;

}
.tm_seeMore
{
position:absolute;
padding-left:368px;
padding-top:265px;
}
#top_topmatch .tm_left
{
	width:60px;
	text-align:center;
	font-size:10px;
	padding-top:3px;
	float:left;
}
#top_topmatch .tm_center
{
	width:252px;
	float:left;
	font-size:11px;
	color:white;
	padding-left:5px;
	padding-top:3px;
	text-align:center;
	font-weight:bold;
	font-family: "Tahoma", Verdana, Arial, serif;
	
}
#top_topmatch .tm_infoMap
{
	width:326px;
	float:left;
	font-size:11px;
	color:white;
	padding-left:5px;
	padding-top:5px;
	text-align:center;
	font-weight:normal;
	font-family: "Tahoma", Verdana, Arial, serif;
	
}
#top_topmatch .tm_right
{
	background-color:#e6e6e6;
	width:70px;
	float:left;
	height:20px;
	text-align:center;
	font-weight:bold;
	padding-top:3px;
	font-family: "Tahoma", Verdana, Arial, serif;
}
#top_topmatch .tm_pic1
{
	float:left;
	width: 200px;
}
#top_topmatch .tm_pic2
{
float:left;
	width: 190px;
}
#top_topmatch .tm_pic
{
	padding-top:10px;
	vertical-align:top;
	height:110px;
}
#top_topmatch .tm_info
{
	width:60px;
	text-align:center;
	font-size:11px;
	padding-top:5px;
	float:left;
	background-color:#e5e5e5;
	height:15px;
	color:#323232;
	font-family: "Tahoma", Verdana, Arial, serif;
}
#right{ 
	margin-left:0px;
	width:513px;
	height:338px;
	margin-bottom:0px;
	float:left;
	display:inline;
	padding-top:24px;
	background-repeat:repeat-x;
	background-image: url(../images/kg/right.png);
	overflow:hidden;
}
#right .bg_articles
{
	background-image: url(../images/kg/bg_articles.png);
	background-repeat: no-repeat;
	width:426px;
	height:23px;
	margin:auto;
}
.articleName 
{
	width:95px;
	text-align:center;
	padding-top:4px;
	float:left;
	font-family: "Tahoma", Verdana, Arial, serif;
	font-weight:bold;
	font-size:10px;
}
.articleName a:link
{
	color:white;
}
.articleName img
{
	vertical-align:middle;
}
.articleTitle
{
	font-weight:bold;
	float:left;
	width:286px;
	padding-left:5px;
	font-size:11px;
	font-family: "Tahoma", Verdana, Arial, serif;
	padding-top:4px;
	color : #2d2d2d;
}

.articleCom
{
	float:left;
	width:39px;
	font-family: "Tahoma", Verdana, Arial, serif;
	font-size:10px;
	color:white;
	text-align:center;
	padding-top:3px;
}
#right #bg_matchs
{
	margin-top:10px;
	background-image: url(../images/kg/bg_matchs.png);
	background-repeat: no-repeat;
	width:428px;
	height:125px;
	margin:auto;
}
#bg_matchs .recent
{
	width:278px;
	padding-left:10px;
	padding-top:5px;
	font-family: "Arial", Verdana, Tahoma, serif;
	font-size:11px;
	color:#0e1116;
	font-weight:bold;
	float:left;
}
#bg_matchs .upcoming
{
	width:130px;
	padding-left:10px;
	padding-top:5px;
	font-family: "Arial", Verdana, Tahoma, serif;
	font-size:11px;
	color:#0e1116;
	font-weight:bold;
	float:left;
}
#tableWar tr
{
	height:27px;
}
#tableArticle tr
{
	height:26px;
}
#tableArticle
{
	margin-top:5px;
	margin-bottom:4px;
}
.matchStat {
	width:49px;
	height:20px;
	text-align:center;
	float:left;
	padding-top:3px;
	font-family: "Tahoma", Verdana, Arial, serif;
	font-size:11px;
	color:white;
}
.matchVersus {
	width:130px;
	height:20px;
	float:left;
	padding-left:6px;
	padding-top:3px;
	font-family: "Tahoma", Verdana, Arial, serif;
	font-size:11px;
}
.matchVersus a , .matchVersus a:link,.matchVersus a:visited{
	color:white;
}
.matchVersus a:hover {
	color: white;
}
.matchVersus img
{
	vertical-align:middle;
}
.matchType {
	width:110px;
	height:20px;
	float:left;
	padding-top:3px;
	font-family: "Tahoma", Verdana, Arial, serif;
	font-size:11px;
	text-align:center;
	color:white;
}
.matchDate {
	width:122px;
	height:20px;
	float:left;
	text-align:center;
	padding-top:3px;
	font-family: "Tahoma", Verdana, Arial, serif;
	font-size:11px;
	color:white;
}
#bottom { 
	margin-left:0px;
	margin-top:0px;
	width:941px;
	height:247px;
	margin-bottom:0px;
	float:left;
	display:inline;
	background-repeat:repeat-x;
	background-image: url(../images/kg/bottom.png);
	overflow:hidden;
}
#bottom .left {
	float:left;
	width:300px;
	height:207px;
	padding-top:20px;
	padding-left:20px;	
}
#bottom .center {
	float:left;
	width:300px;
	height:207px;
	padding-top:20px;
	padding-left:5px;	
}
#bottom .right{
	float:left;
	width:300px;
	height:207px;
	padding-top:20px;
	padding-left:5px;	
}
#bottom .bg_bottom{
	background-image: url(../images/kg/bg_bottom.png);
	background-repeat: no-repeat;
	width:287px;
	height:154px;
	margin:auto;
	margin-top: 10px;
}

.bTitle
{
	width:287px;
	height:33px;
	font-size:11px;
	color:#0e1116;
	padding-top:5px;
	padding-left:10px;
	font-family: "Arial", Verdana, Arial, serif;
	font-weight:bold;
}
.bContent
{
	width:260px;
	padding-top:5px;
	padding-left:17px;
	font-size:11px;
	color:#d1d1d1;
	text-shadow: 1px 1px 1px #353535; 
	font-family: "Tahoma", Verdana, Arial, serif;
	overflow:hidden;
}
.bNumber {
	padding-left:15px;
	padding-top:5px;
	font-family: "Tahoma", Verdana, Arial, serif;
	color:white;
	font-weight:bold;
	color:white;
}
.bContentLeft
{
	width:83px;
	text-align:center;
	float:left;
	height:75px;
}
.bContentRight
{
	width:170px;
	float:left;
	padding-left:7px;
	padding-top:5px;
	height:45px;
	font-size:11px;
	color:#d1d1d1;
	text-shadow: 1px 1px 1px #353535; 
	font-family: "Tahoma", Verdana, Arial, serif;
}
.bContentView
{
	color:#ffa109;
	font-family: "Tahoma", Verdana, Arial, serif;
	font-size:11px;
	float:right;
	padding-right:1px;
	width:170px;	
}
.bContentView2
{
	color:#ffa109;
	font-family: "Tahoma", Verdana, Arial, serif;
	font-size:11px;
	padding-left:6px;
	float:right;
	padding-right:1px;
	width:200px;	
	text-align:center;
}
.bDl
{
	text-shadow: none;
	font-family: "Tahoma", Verdana, Arial, serif;
	font-size:11px;
	float:left;

}
.bContentView img, .bContentView2 img
{
vertical-align:middle;
}
.bCenter {
	width:249px;
	height:48px;
	padding-top:3px;
	font-size:11px;
	color:#d1d1d1;
	text-shadow: 1px 1px 1px #353535; 
	font-family: "Tahoma", Verdana, Arial, serif;
	overflow:hidden;
}

#sponsors{ 
	margin-left:0px;
	margin-top:0px;
	width:941px;
	height:151px;
	margin-bottom:0px;
	float:left;
	display:inline;
	background-image: url(../images/kg/sponsors.jpg);
	overflow:hidden;

}
#sponsors .left {
	width:18px;
	height:117px;
	margin-left:22px;
	margin-top:19px;
	float:left;
}
#sponsors .center {
	width: 863px;
	height:117px;
	margin-top:19px;
	float:left;
}
#sponsors .right {
	width:18px;
	height:117px;
	margin-top:19px;
	float:left;
}
#copyright { 
	padding-left:10px;

	width:931px;
	height:42px;
	margin-bottom:0px;
	float:left;
	display:inline;
	background-image: url(../images/kg/copyright.jpg);
	overflow:hidden;
}
#copyright .left
{

	width:715px;
	height:47px;
	padding-top:10px;
	font-family: "Tahoma", Verdana, Arial, serif;
	float:left;
	color:#898989;
	font-size:9px;
}
#copyright .right 
{
	width:215px;
	height:47px;
	float:left;
	padding-top:1px;
}
#copyright b { color:#f0e8d9;}
#sponsors .bg_sp
{
	width:130px;
	height:94px;
	background-image: url(../images/kg/bg_sp.png);
	background-position:center;	
	background-repeat:no-repeat;
	padding-top:5px;
	text-align:center;
	display:block;
	float:left;
	margin-left: auto;
	margin-right: auto;

}

.conteneur
{
	height:94px;
	padding-top:3px;
}
.clear {
	clear : both;
	visibility : hidden;
}
#footer { 
	margin-left:0px;
	margin-top:0px;
	width:941px;
	height:54px;
	margin-bottom:0px;
	float:left;
	display:inline;
	background-image: url(../images/kg/footer.png);
	overflow:hidden;
}

.title {
	text-shadow: 1px 1px 1px black; 
	padding-top:0px;
	font-weight:bold;
    font-size: 11px;
	text-transform: uppercase;
    color: white;
	background: url("../images/kg/home_bg.png") repeat-x;
	height:28px;
	margin-top:10px;
}
.AbsWrap {
	width: 100%;
	position: relative;
}
.rowWrap {
	width: 100%;
}
.clearfloat {
	clear:both;
	height:0px;
}
a:link, a:visited{
	outline: none;
	color:#CC5000;
	text-decoration:inherit;
}


img.prev_cov:hover
{
	background: url("../images/kg/prev2.png") no-repeat;
	width:49px;
	height:39px;
	float:left;
}

img.next_cov:hover
{
	background: url("../images/kg/next2.png") no-repeat;
	width:49px;
	height:39px;
	float:left;
}
 h2 {
    font-family: "Arial", Arial, Tahoma, serif;
	font-size: 1.5em;
	text-shadow: 1px 1px 1px black; 
    color: white;
	height:45px;
    text-transform: uppercase;
    font-weight: bold;
	background-repeat:repeat-x;
	width:920px;
	margin:auto;

	text-align:center;

}
option, select, input,   file {  
    font-family: "Verdana", Arial, Helvetica, sans-serif; 
    font-size: 11px;
	text-transform:capitalize;
    color: #adadad; 
    background-color: #6c6c6c; 
	background-image: url(../images/kg/input.jpg);
    border: 1px solid #383838;
	height:20px;
		background-color: #6c6c6c; 
}
textarea {
	background-color:#222222;
	 border: 1px solid #383838;
	 color:#959595;
}
.cov_preview
{
padding-top:90px;
padding-left:20px;
position: absolute; z-index: 22;
}
.cov_next
{
padding-top:90px;
padding-left:510px;
position: absolute; z-index: 21;
}
.title_left
{
padding-top:10px;
padding-left:30px;
}
.title_left2
{
padding-top:5px;
padding-left:30px;
}

/* Infomessages - Miscellaneous */
.tooltip {
  position: absolute;
  display: none;
  background-color: #f3f3f3;
  color: #4e4e4e;
  border-left: 4px solid #afafaf;
  padding: 4px 10px;
  z-index: 100;
}

.errorbox {
  background-color: #FFCCCC;
  border: 1px dashed #D60000;
  color: #666666;
  font-size: 10px;
  width: 350px;
  padding: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
}
.title_position
{
color:white;
text-transform: uppercase;
}
.webspell
{
position:absolute;
margin-left:843px;
font-size:10px;
color:white;
font-family:Calibri;
margin-top:113px;
}
.webspell a
{
font-family:Calibri;
font-size:10px;
color:white;
}
.win_color
{
color:#1ca31f;
font-size:11px;
font-weight:bold;
font-family: "Tahoma", Verdana, Arial, serif;
}
.loose_color
{
color:#ff1e00;
font-size:11px;
font-weight:bold;
font-family: "Tahoma", Verdana, Arial, serif;
}
.draw_color
{
color:#477ace;
font-size:11px;
font-family: "Tahoma", Verdana, Arial, serif;
font-weight:bold;
}

#logged {
width:705px;
height:33px;
padding-top:5px;
padding-left:10px;
float:left;
text-align:center;

font-size:11px;
font-family: "Verdana", Arial, serif;
color:#d7d7d8;
text-transform:capitalize
}
#logged:first-letter{
	 text-transform: uppercase;
}

#logged .link_menu {
color : #d54c4c;
}
#logged .link_menu:hover {
color : #a61f1f;
}
#logged span {
display:block;
height:10px;
padding-top:5px;
}
#social {
	width: 150px;
	height: 32px;
	margin: 0 auto;
	padding: 0;
	list-style: none;
	position:absolute;
	margin-top:160px;
	margin-left:790px;
	z-index:5;
}

#social li {
	 width: 32px;
	 height: 32px;
	 float: right;
	 margin-right: 5px;
}

#social a {
 display: block;
 width: 100%;
 height: 100%;
 text-indent: -1000em;
 background-repeat: no-repeat;
 background-position: 0 13px;
}

#social a:hover {
 background-position: 0 3px;
}
#kg {
	width:65px;
	text-indent: -1000em;
	height:45px;
	display:block;
	background-image: url(../images/kg/en/kg.jpg);
	background-repeat:no-repeat;
	float:left;
}
#copyright p 
{
	font-family: "Tahoma", Verdana, Arial, serif;
	color:white;
	font-size:10px;
	padding-top:7px;
	list-style: none;
	display:block;
	height:13px;
	margin:0;
}
#copyright .agence {
	font-weight:normal;
}

#copyright a
{
	list-style: none;
	padding:0;
	margin:0;
	font-size:9px;
	color:white;
	font-weight:bold;
}
#facebook {
 background-image: url(../images/kg/facebook.png);
}
#twitter {
 background-image: url(../images/kg/twitter.png);
}
#steam {
 background-image: url(../images/kg/steam.png);
}
#language {
	position:absolute;
	padding-top:10px;
	width:300px;
}
#language img {
	display:inline;
}
.cp_green {
	color:#89e42f;
}
