
/* Menu TOP */
#menu a 
{

font-size:12px;
color:#ffa2a2;
text-shadow: 1px 1px 1px black; 
font-weight:bold;
font-family: "Arial", Verdana, Tahoma, serif;
text-transform:uppercase;

}
#menu a:hover
{
color:white;
}

/* News Rollover Image + Couleur */
#headlines a:hover {
color:#cf3333;
}
#headlines .head1:hover {
width:368px;
height:44px;
float:left;
border:1px black;
background-image: url(../images/kg/headlines_hover.png);
z-index:8;
color:#cf3333;
font-weight:bold;
font-size:11px;
font-family: "Tahoma", Verdana, Arial, serif;
}

/* Latesttopic */
#lastTopic a {
	font-size:11px;
	color:#d5d5d5;
}
#lastTopic a:hover{
	color:#66b716;
}

/* Lien block roster */
#paginate-slider4 a
{
	font-size:10px;
	font-weight:bold;
	padding-left:7px;
	padding-top:3px;
	font-family: "Tahoma", Verdana, Arial, serif;
	height:24px;
	
}

 #paginate-slider4 a:hover, #paginate-slider4 a.selected
{
	color:#bd0808;
}

 #paginate-slider4 a:hover, #paginate-slider4 a.selected
{
	color:#bd0808;	
}
#slider4 .picture:hover
{
border: 2px solid #ff4343;
}
/* Article */
.articleLink, .articleLink:visited, .articleLink:link
{
	color : #692929;
	font-family: "Tahoma", Verdana, Arial, serif;
	font-size:11px;
}
.articleLink:hover
{
	color:#920000;
}
/* View more */
.viewMore
{
	color:#e10000;
	text-align:center;
	width:71px;
	height:16px;
	background-color:#0f0f0f;
	text-shadow:none;
	padding-top:2px;
	font-size:11px;
	float:right;
}
.viewMore:hover 
{
	background-color:#1a1a1a;
	color:#ff3838;
}
.viewMore  a:hover{
	color:#ff3838;
}

a {
text-decoration:none;	
color:#2d2d2d;
}
a:hover{
color:#cc0000;
}

.title_cov a 
{

font-size: 11px;
font-weight:bold;
color:#ffc9c9;
text-shadow: 1px 1px 1px black; 
}
.cov_txt
{
font-size:11px;
color:#c96363;

}
#logged a {
color:#ff9c9c;
}
#logged a:hover {
color:#9c1a1a;
}
