#barre{
	background-image:url(../images/barre.jpg);
	background-repeat:no-repeat;
	width:844px;
	height:23px;
}
#topnews{
	width:342px;
	height:auto;
	float:left;
}
#lastnews{
	background-image:url(../images/fondnews.jpg);
	background-repeat:no-repeat;
	width:342px;
	height:127px;
	float:left;
}
#lastnewstop{
	background-image:url(../images/latestnews.jpg);
	background-repeat:no-repeat;
	width:342px;
	height:20px;
	float:left;
}
#lastnewsbottom{
	background-image:url(../images/allnews.jpg);
	background-repeat:no-repeat;
	width:342px;
	height:23px;
	float:left;
}
#video{
	width:330px;
	height:170px;
	float:left;
}
#left{
	width:418px;
	height:auto;
	float:left;
}
#centre{
	margin-left:15px;
	width:231px;
	height:auto;
	float:left;
}
#right{
	background-color:#FFF;
	width:171px;;
	height:auto;
	background-color:#FFF;
	float:right;
}
#topmatch{
	background-image:url(../images/topmatch.jpg);
	background-repeat:no-repeat;
	width:231px;
	height:93px;
}

#latestmatchtop{
	background-image:url(../images/latestresults.jpg);
	background-repeat:no-repeat;
	width:231px;
	height:18px;
	margin-top:5px;
}
#latestmatch{
	background-image:url(../images/fondresults.jpg);
	background-repeat:no-repeat;
	width:231px;
	height:138px;
}
#lastmatchbottom{
	background-image:url(../images/more.jpg);
	background-repeat:no-repeat;
	width:231px;
	height:15px;
}
#latestfilestop{
	background-image:url(../images/latestdemos.jpg);
	background-repeat:no-repeat;
	width:231px;
	height:18px;
	margin-top:5px;
}
#latestfiles{
	background-image:url(../images/fonddemos.jpg);
	background-repeat:no-repeat;
	width:231px;
	height:138px;
}
#latestfilesbottom{
	background-image:url(../images/more.jpg);
	background-repeat:no-repeat;
	width:231px;
	height:15px;
}
#lastfo{
	width:206px;
	height:auto;
	float:left;
}
#lastdls{
	width:206px;
	height:auto;
	float:right;
}
#lastforumtop{
	background-image:url(../images/latesttopics.jpg);
	width:206px;
	height:27px;
}
#lastforum{
	background-image:url(../images/fondforum.jpg);
	background-repeat:no-repeat;
	width:206px;
	height:123px;
}
#lastforumbottom{
	background-image:url(../images/goforum.jpg);
	width:206px;
	height:17px;
}
#lastdltop{
	background-image:url(../images/latestdls.jpg);
	width:206px;
	height:27px;
}
#lastdl{
	background-image:url(../images/fonddl.jpg);
	background-repeat:no-repeat;
	width:206px;
	height:123px;
}
#lastdlbottom{
	background-image:url(../images/godl.jpg);
	width:206px;
	height:17px;
}
#articles{
	width:418px;
	height:auto;
	float:left;
}
#articlestop{
	background-image:url(../images/articles.jpg);
	width:418px;
	height:27px;
}
#rightcont{
	background-image:url(../images/fondbncsponsor.jpg);
	width:171px;
	height:82px;
	background-repeat:no-repeat;
}
#sponsorp{
	background-image:url(../images/sponsorsp.jpg);
	background-repeat:no-repeat;
	width:171px;
	height:28px;
}
#sponsor{
	background-image:url(../images/sponsors.jpg);
	background-repeat:no-repeat;
	width:171px;
	height:28px;
}
#partners{
	background-image:url(../images/partenaires.jpg);
	background-repeat:no-repeat;
	width:171px;
	height:26px;
}
#roster{
	background-image:url(../images/fondroster.jpg);
	width:430px;
	height:76px;
	background-repeat:no-repeat;
}