<tr>
  <td bgcolor="$bg1" width="125" valign="top">
  <table width="100%" cellpadding="2" cellspacing="0">
    <tr>
      <td align="center">$username $member</td>
    </tr>
    <tr>
      <td align="center"><small>$usertype</small></td>
    </tr>
    <tr>
      <td align="center">$avatar</td>
    </tr>
    <tr>
      <td align="center">$rang</td>
    </tr>
    <tr>
      <td align="center"><small>$posts %posts%</small></td>
    </tr>
    <tr>
      <td align="center"><small>%registered%: $registered</small></td>
    </tr>
  </table>
  </td>
  <td bgcolor="$bg2" valign="top">
  <table width="100%" cellpadding="2" cellspacing="0">
    <tr>
      <td><a name="$postID" href="#$postID"><img src="images/icons/posticon.gif" width="10" height="11" alt="" /></a> <i>$date, $time</i> $pm $buddy $email $hp $statuspic</td>
      <td align="right"> $quote$actions&nbsp;</td>
    </tr>
  </table>
  <hr width="50%" />
  <div style="overflow:hidden;">$message</div>
  <hr width="90%" />
  <small>$signatur</small></td>
</tr>
<tr><td colspan="2" bgcolor="$pagebg"></td></tr>
$pubGoogle
