<table width="100%" cellpadding="2" cellspacing="0">
  <tr>
    <td>$sorter &nbsp;&nbsp;&nbsp; $page_link</td>
    <td align="right">$topicactions</td>
  </tr>
  <tr>
      <td colspan="2">

        <!-- AddThis Button BEGIN -->
			<div class="addthis_toolbox addthis_default_style ">
			<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
			<a class="addthis_button_tweet"></a>
			<a class="addthis_button_pinterest_pinit"></a>
			<a class="addthis_counter addthis_pill_style"></a>
			</div>
			<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
			<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5156f34873d5ec6c"></script>
		<!-- AddThis Button END -->

		</td>
    </tr>
</table>