<tr>
	<td>
		<div class="bg_articles">
			<div class="articleName">$COUNT $poster</div>
			<div class="articleTitle"> <a class="articleLink" href="index.php?site=articles&amp;action=show&amp;articlesID=$articlesID">$title</a></div>
			<div class="articleCom">$viewed</div>
		</div>
    </td>
</tr>