

<div class="contentdiv">
	<div class="bTitle">$tag1 %vs% $tag2 </div>
	<div class="bContent">
		<div class="bContentLeft"><img src="images/kg/icon_demos.png" alt="demos" /></div>
		<div class="bContentRight">
			%league%: $league<br/>
			%maps%: $maps<br/>
		</div>
		<div class="bContentView">
		<div class="bDl">%downloads% $dl  (<span style="font-size:10px;">$count</span>)</div> <div class="viewMore"> <a href="index.php?site=demos&amp;action=showdemo&amp;demoID=$demoID" >$viewed</a></div>
		</div>
	</div>
</div>