<div class="contentdiv">
	<div class="bTitle">$filename </div>
	<div class="bContent">
		<div class="bCenter">$info
		</div>
		<div class="bContentView2" style="float:right;">
		<p style="float:left;">%downloads% <img src="images/kg/icon_dl.png" alt="download" /> (<span style="font-size:10px;">$count</span>)</p> <div class="viewMore"> <a href="index.php?site=files&amp;file=$fileID">$viewed</a></div>
		</div>
	</div>
</div>