


	
	<div class="head1"><div class="games">$rubric</div>
		<div class="head1_pos">
			<a href="index.php?site=news_comments&amp;newsID=$news_id&amp;lang=$lang" title="Headlines">$headlines</a>
		</div>
		
	</div>
	
	