<form method="post" name="login" action="checklogin.php"> 

	<div class="username"><img src="images/kg/$var_l/username.png" alt="username" /></div>
	<div class="input"><input class="ip"  name="ws_user" type="text" size="13" value="Username" onfocus="this.value=''" /> </div>
	<div class="password"><img src="images/kg/$var_l/password.png" alt="password" /></div>
	<div class="input"><input class="ip" name="pwd" type="password" size="13" value="Password" onfocus="this.value=''" /></div>
	<div class="right"><input class="send" type="submit" /><a  onclick="login.submit()"><img src="images/kg/$var_l/login.png" alt="send"/></a></div>
	<div class="right"><a  onfocus="this.blur();" href="index.php?site=register"><img  src="images/kg/$var_l/register.png" border="0" alt="" /></a></div>
</form>