<tr>
	<td class="date">
		<span class="month">$month</span><br/>
		<span class="jour">$day</span>
	</td>
	<td class="message">$topiclink</td>
	<td class="comment"><img src="images/kg/comment.png" alt="" style="vertical-align:middle" /> $replys</td>
</tr>