
<div class="contentdiv">
	<div class="bTitle">$username</div>
	<div class="bContent">
		<div class="bContentLeft">$avatar</div>
		<div class="bContentRight">
			%sexuality%: $SOX $gender<br/>
			%location%: $COUNT $town<br/>
			%registered_since%: $registerdate<br/>
			
		</div>
		<div class="bContentView">
	<div class="viewMore"><a href="index.php?site=profile&amp;id=$idMember">$viewed</a></div>
		</div>
	</div>
</div>