<a href="index.php">Home</a>
<a href="index.php?site=squads">%squads%</a>
<a href="index.php?site=clanwars">%matches%</a>
<a href="index.php?site=files">%downloads%</a>
<a href="index.php?site=forum">%forums%</a>
<a href="index.php?site=static&staticID=3"><font color="#07DDC1">Tournois</font></a>
<a style="word-spacing: 1px;" href="index.php?site=gallery">%gallery%</a>