<div id="blockSearch">
<form method="get" action="index.php" onsubmit="return formcheck_onsend('quicksearch');">

<input name="action" type="hidden" value="search" />
<input name="articles" type="hidden" value="true" />
<input name="faq" type="hidden" value="true" />
<input name="forum" type="hidden" value="true" />
<input name="news" type="hidden" value="true" />
<input name="order" type="hidden" value="1" />
<input name="r" type="hidden" value="50" />
<input name="site" type="hidden" value="search" />


<div class="search">
<input id="quicksearch" name="text" type="text" value="%search_term%..." onfocus="if(this.value == '%search_term%...')this.value=''" /></div>
<div><input type="submit" value="" class="ok"/></div>

    
</form></div>