<tr>
  <td>
		<div class="matchStat">$light</div>
		<div class="matchVersus">vs. &nbsp; $languages <a href="index.php?site=clanwars_details&amp;cwID=$resultID">$versusName</a></div>
		<div class="matchType">$typeResult</div>
		<div class="matchDate">$date</div>	
  
	</td>
</tr>