<tr>
  <td align="left">
  $topiclink
  <div class="tooltip" id="latesttopics_$n"><small><b>$topictitle</b><br />%last_post%: $last_poster<br />%board%: $board<br />$date</small></div>
  </td>
</tr>