<div style="float:right">
&#8226;<a href="index.php?site=loginoverview">%overview%</a>
&#8226;<a href="index.php?site=myprofile">%edit_account%</a>
&#8226;<a href="index.php?site=messenger">%messenger%</a>$newmessages
&#8226;<a href="index.php?site=usergallery">%galleries%</a>
&#8226;<a href="index.php?site=buddys">%buddy_list%</a><br />
<div style="margin-left:25px;">&#8226;<a href="logout.php">%logout%</a>
$cashbox
$admin
</div>
</div>