<div style="float:right">
<form method="post" name="login" action="checklogin.php"> 
<table cellpadding="0" cellspacing="0">
<tr>
<td valign="top"><input name="ws_user" type="text" size="13" value="Username" onfocus="this.value=''" style="margin-top:3px;" /> </td>
<td valign="top"><input name="pwd" type="password" size="13" value="Password" onfocus="this.value=''" style="margin-top:3px;"  /></td>
<td valign="top"><input type="image" src="images/login/gologin.jpg"  name="submit" value="%login%" style=" border:none; background:transparent;" /></td>
<td valign="top"><a href="index.php?site=register"><img src="images/login/register.jpg" style="border:none; background:transparent; background-repeat:no-repeat;" /></a></td>
<td valign="top"><a href="index.php?site=lostpassword"><img src="images/login/lostpassword.jpg" style="border:none; background:transparent; background-repeat:no-repeat;"  /></a></td>
</tr>
</table>
</form>
</div>