<table width="100%" cellspacing="1" cellpadding="4" bgcolor="#cccccc">
  <tr>
   <td class="title" colspan="3">$ar[movheadline]</td>
  </tr>
  <tr bgcolor="$bg1">
   <td align="center" colspan="3">
   		$ar[embed]
   </td>
  </tr>
  <tr bgcolor="$bg2">
   <td width="20%" align="right">%description%:</td>
   <td align="left" colspan="2">$des</td> 
  </tr>
  <tr bgcolor="$bg1">
   <td width="20%" align="right">%uploaded_by%:</td>
   <td align="left" colspan="2"><a href="index.php?site=profile&id=$ar[uploader]"><b>$uploader</b></a></td> 
  </tr>
  <tr bgcolor="$bg2">
   <td width="20%" align="right">%watched%:</td>
   <td align="left" colspan="2"><b>$ar[hits]</b> %times%</td> 
  </tr>
  <tr bgcolor="$bg1">
   <td width="20%" align="right">%rating%:</td>
   <td align="left">$ratingpic</td>
   <td align="left">$rateform</td> 
  </tr>
  <tr bgcolor="$bg2">
   <td width="20%" align="right">%page_link%:</td>
   <td align="left" colspan="2"><input type="text" onclick="javascript:this.select();" value="$video_page_link" style="width: 99%; color: #6C6C6C;" name="page_link"/></td>
  </tr>
  <tr bgcolor="$bg1">
   <td width="20%" align="right">%video%-%embed%:</td>
   <td align="left" colspan="2"><input type="text" style="width: 99%; color: #6C6C6C;" onclick="javascript:this.select();" value='$ar[embed]'/></td>
  </tr>
  <tr>
  <tr>
 		<td colspan="2" align="right">Addon video par <a href="http://www.webspell.fr"><b>WEBSPELL</b></a></td></tr>
   <td colspan="3"> $adminaction</td>
  </tr>
</table>