<table width="100%" cellspacing="1" cellpadding="4" bgcolor="#cccccc">
  <tr>
   <td class="title" colspan="3">$ar[movheadline]</td>
  </tr>
  <tr bgcolor="$bg1">
   <td align="center" colspan="3">
<div id="container"><a href="http://www.macromedia.com/go/getflashplayer"><b>Get the Flash Player</b></a> to see this player.</div>
	<script type="text/javascript" src="js/swfobject.js"></script>
	<script type="text/javascript">
		var s1 = new SWFObject("mediaplayer.swf","mediaplayer","432","326","8");
		s1.addParam("allowfullscreen","true");
		s1.addVariable("width","432");
		s1.addVariable("height","326");
		s1.addVariable("file","$ar[movfile]");
		s1.write("container");
	</script>
   </td>
  </tr>
  <tr bgcolor="$bg2">
   <td width="20%" align="right">%description%:</td>
   <td align="left" colspan="2">$des</td> 
  </tr>
  <tr bgcolor="$bg1">
   <td width="20%" align="right">%uploaded_by%:</td>
   <td align="left" colspan="2"><a href="index.php?site=profile&id=$ar[uploader]"><b>$uploader</b></a></td> 
  </tr>
  <tr bgcolor="$bg2">
   <td width="20%" align="right">%watched%:</td>
   <td align="left" colspan="2"><b>$ar[hits]</b> %times%</td> 
  </tr>
  <tr bgcolor="$bg1">
   <td width="20%" align="right">%rating%:</td>
   <td align="left">$ratingpic</td>
   <td align="left">$rateform</td> 
  </tr>
  <tr bgcolor="$bg2">
   <td width="20%" align="right">%page_link%:</td>
   <td align="left" colspan="2"><input type="text" onclick="javascript:this.select();" value="$video_page_link" style="width: 99%; color: #6C6C6C;" name="page_link"/></td>
  </tr>
  <tr bgcolor="$bg1">
   <td width="20%" align="right">%video%-%embed%:</td>
   <td align="left" colspan="2"><input type="text" style="width: 99%; color: #6C6C6C;" onclick="javascript:this.select();" value='<div id="container"><a href="http://www.macromedia.com/go/getflashplayer"><b>Get the Flash Player</b></a> to see this player.</div><script type="text/javascript" src="http://www.firstborn.de/js/swfobject.js"></script><script type="text/javascript"> var s1 = new SWFObject("mediaplayer.swf","mediaplayer","432","326","8"); s1.addParam("allowfullscreen","true"); s1.addVariable("width","432"); s1.addVariable("height","326");	s1.addVariable("file","$ar[movfile]"); s1.write("container"); </script>'/></td>
  </tr>
  <tr>
   <td colspan="3"> $adminaction</td>
  </tr>
</table>