


	<table align="center" cellpadding="4" cellspacing="1" width="100%" border="0" bgcolor="#cccccc">
      <tr bgcolor="$bg1">
       <td colspan="2" align="center" class="title">$movheadline</td>            
	  </tr>
      <tr bgcolor="$bg1">
       <td width="40%" align="center"><a href="index.php?site=movies&action=show&id=$movID">$pic</a></td>
       <td width="60%" valign="top"><table cellpadding="0" cellspacing="0" width="100%" border="0">
        <tr height="35" >
         <td align="left" colspan="2"> %uploaded_by%: <a href="index.php?site=profile&id=$ar[uploader]"><b>$uploader</b> <br /></a></td>
         <td align="right"> <b>$com</b> %comments% <br /></td>
        </tr>
	    <tr height="35">
         <td align="left" colspan="2"> %watched% <b>$hits</b> %times% <br /></td>
          <td align="right">$useradminaction <br /></td>
        </tr>
	    <tr height="35">
         <td align="left">%rating%:</td>
         <td>$ratingpic</td>
         <td align="right"><a href="index.php?site=movies&action=show&id=$movID">&raquo; %play%</a></td>
  		</tr>
       </table></td>
      </tr>
     </table>

