<br/><br/><table width="100%" border="0" cellspacing="0" cellpadding="2">
  <tr bgcolor="$bghead">
    <td class="title">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td>&nbsp;<a class="titlelink" href="index.php?site=news_comments&amp;newsID=$newsID">$headline</a> $isintern</td>
        <td align="right">$langs</td>
      </tr>
    </table>
    </td>
  </tr>
  <tr><td bgcolor="$pagebg"></td></tr>
  <tr>
    <td bgcolor="$bg1" valign="top">
    <table width="100%" border="0" cellspacing="5" cellpadding="5">
      <tr>
        <td valign="top" align="justify">$content</td>
        <td width="320px" height="320px" bgcolor="#000000;">$google</td>
      </tr>
      <tr>
        <td valign="top" align="right">&nbsp;</td>
        <td valign="top" align="right">$adminaction</td>
      </tr>
    </table>
    </td>
  </tr>
  <tr>
    <td bgcolor="$pagebg">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><span>%links%</span>: $related<br /><span>%written_by% $poster - $date - $time</span></td>
      </tr>
    </table>
    </td>
  </tr>
  <tr>
    <td>
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td><span style="overflow:hidden;">$comments</span></td>
      </tr>
    </table>
    </td>
  </tr>
</table>
<br /><br />