<tr>
  <td align="left" width="19"><img src="$gameicon" border="0" width="16" height="16" alt="$ds[game]" /></td>
	<td width="80"><a href="index.php?site=clanwars_details&amp;cwID=$resultID">$ds[opptag]</a> 
    <td><a href="index.php?site=clanwars_details&amp;cwID=$resultID"><b>$result</b></a></td> 
    <td style="float:right;"><a href="index.php?site=clanwars_details&amp;cwID=$resultID">$ligue</a></td>
</tr>