<div align="center" style="background-image:url(images/fondbncsponsor.jpg); width:171px;"><a href="out.php?partnerID=$db[partnerID]" target="_blank"><img src="images/partners/$db[banner]" style="margin:2px 0;" border="0" alt="$alt" title="$title" /></a></div><img src="images/footsponsors.png" /><br />
