<img src="images/sponsorsp.jpg" />
<div align="center" style="background-image:url(images/fondbncsponsor.jpg); width:171px; height:auto;"><a href="out.php?sponsorID=$da[sponsorID]" target="_blank">$sponsor</a></div>
<img src="images/financiersponsor.jpg" /><br />