<tr>
<td align="center">
<div align="center" style="background-image:url(images/fondbncsponsor.jpg); width:171px; height:auto;"><a href="out.php?sponsorID=$db[sponsorID]" target="_blank">$sponsor</a></div>
<img src="images/footsponsors.png" />
</td>
</tr>