<table cellpadding="0" cellspacing="0">
<tr>
<td>
<span style="padding:0 5px 0 5px; float:left; position:absolute;"><img src="images/topmatch/$logo1" width="72" height="52" alt="" style=" padding-left:4px; padding-top:32px;" /></span>
</td>
<td>
<span style="padding:0 10px 0 100px;  position:absolute; float:right;"><img src="images/topmatch/$logo2" width="72" height="52" alt="" style="padding-left:49px; padding-top:32px;" /></span>
</td>
</tr>
</table>
<table cellpadding="0" cellspacing="0" style="padding-top:58px; padding-left:82px; text-align:center;">
<tr>
<td>
<span class="white" style="padding-top:10px; "><b>$date</b></span></span><br /><span class="white"><b>$time</b></span><br /><br /><br />
</td>
</tr>
</table>
